.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.dashboardContainer .leftPanel {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  margin-left: 150px;
  flex-direction: column;
  align-items: center;
}

.dashboardContainer .leftPanel .salesSumary {
  display: flex;
  height: 120px;
  width: 700px;
  gap: 20px;
  margin-left: 150px;
  margin-top: 10px;
}

.dashboardContainer .leftPanel .salesSumary span {
  display: flex;
  width: 200px;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: white;
  border-radius: 30px;
  border: 3px solid #e0e0e0;
}

.dashboardContainer .leftPanel .lastestProductsDashboard {
  display: flex;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 200px;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  width: 700px;
}

.dashboardContainer .leftPanel .lastestProducts table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.dashboardContainer .leftPanel .lastestProducts th, .dashboardContainer .leftPanel .lastestProducts td {
  padding: 10px;
  text-align: center;
}

.dashboardContainer .leftPanel .lastestProducts th {
  background-color: #2c7bc9;
  color: white;
}

.dashboardContainer .leftPanel .lastestProducts tr {
  background-color: #ced4da;
}

.dashboardContainer .rightPanel {
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: column;
  height: 100%;
  width: 300px;
}