.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.salesOrderContainer {
  align-items: center;
  background-color: #f7f9fc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f9fc;
  border: 1px solid #ced4d9;
}

.table th,
.table td {
  padding: 5px 5px;
  text-align: left;
  border: 1px solid #ced4d9;
}

.table thead {
  background-color: #2c7bc9;
  color: #fff;
}

.table tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.table tbody tr:hover {
  background-color: #d6e0f5;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.pages {
  width: 60%;
}

.pageInfo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: -10px;
}

.pagination button {
  background-color: #2c7bc9;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.btnBilling {
  width: 20%;
  display: inline-block;
  margin-top: 20px;
  background-color: #2c7bc9;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btnBilling:hover {
  background-color: #1b5a89;
}

.salesOrder {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
  text-align: center;
}

.inputOfSalesOrder {
  width: 80px;
  padding: 10px;
  border: 1px solid #ced4d9;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="number"]:disabled {
  background-color: #e9ecef;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0px;
}
