.AvatarSection {
  display: flex;
  width: 300px;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 105px;
  border: 1px solid gray;
  background-color: #ced4d9;
  box-sizing: border-box;
}
.AvatarSection button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: #444444 0px 0px 5px;
  background-color: #2c7bc9;
  color: white;
}
.UserOptions {
  width: 20px;
  height: 20px;
  background-image: radial-gradient(circle, #444444 2px, transparent 3px);
  background-size: 100% 33.33%;
  cursor: pointer;
  border-radius: 10%;
  padding: 15px;
}
