
  .supplier-form button {

    background-color: #2c7bc9;
    background-color: #8B9195;

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;

    margin: 20px;
    
  }
  
  .supplier-form button:hover {
    background-color: #41BDEE;
  }
  button:active {
    transform: scale(0.95);
}
.supplier-form{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.suplierCont{
  width: 40%;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ced4d9;
  border-radius: 10px;
  background-color: #f7f9fc;
  box-shadow: 0 14px 28px rgba(26, 76, 240, 0.25),
  0 10px 10px rgba(5, 92, 99, 0.22);
}

.supplier-form input{
  padding: 10px 15px;
  padding-right: 70px;
  margin: 5px;
  
}


.titulo{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;  
}

  
  
  .supplier-form button:hover {
    background-color: #626567;
  }
  

